

.main{
    width: 62%;
    margin: 0 auto;
    font-family: 'SUIT';
}

@media all and (max-width: 768px){
    .main{
        width: 100%;
        }
    
    }
    
a {
    text-decoration: none;
    color: black;
}
a:link { 
    text-decoration: none;
    color : black;
   }
    
a:visited { 
text-decoration: none;
}

a:hover { 
text-decoration: none;
color: inherit;
}
/* SWipe image */

.title{
    display : flex;
    justify-content:space-between;
    margin-top: 70px;
}

.title > .text_link> h6{
    color: #3366ff;
}


.swipe{
    margin-top: 30px;
    margin-bottom: 50px;
}

.swipe_div{
    margin: 0 auto; 
    height:320px;
    text-align: center;
    overflow: hidden;
}

.swipe_div img {
    transition: all 0.2s linear;
  }
  .swipe_div:hover img {
    transform: scale(1.1);
  }

  .swipe_imgbox{
overflow: hidden;
 }

.swipe_img{
   height:260px;
    Width:230px;
    margin: 0 auto;
}

.swipe_h5{
    text-align:center; 
    justify-content:center;
    margin:0 auto;
    position: static;
    color: black;
}


